<div class="m-3">
   <p>List Of Products</p>
   <form>
       <div class="form-group form-inline">
           Search product by name
           <input type="text" class="form-control ml-2" name="searchProduct"/>
       </div>
   </form>
   <table class="table table-striped">
       <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col" sortable="name">Product Name</th>
               <th scope="col" sortable="name">Product Code</th>
               <th scope="col" sortable="name">Product Description</th>
               <th scope="col" sortable="name">Product Price</th>
               <th scope="col" sortable="name">Product Image</th>
           </tr>
       </thead>
       <tbody>
           <tr>

           </tr>
       </tbody>  
   </table>
   <ngb-pagination class="d-flex justify-content-center">

   </ngb-pagination>
</div>