<div class="m-3">
   <p>List Of Products</p>
   <form>
       <div class="form-group form-inline">
           Search product by name
           <input type="text" class="form-control ml-2" name="searchProduct" [(ngModel)]="searchProduct" (input)="search($any($event))"/>
       </div>
   </form>
   <table class="table table-striped">
       <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col" sortable="name">Product Name</th>
               <th scope="col" sortable="name">Product Code</th>
               <th scope="col" sortable="name">Product Description</th>
               <th scope="col" sortable="name">Product Price</th>
               <th scope="col" sortable="name">Product Image</th>
           </tr>
       </thead>
       <tbody>
          <tr *ngFor="let product of products | listFilter: searchProduct | slice: (page-1) * pageSize : page * pageSize; index as i">
               <th scope="row">{{(page-1) * pageSize + i + 1 }}</th>
               <td>
                   <img [src] = "'https://upload.wikimedia.org/wikipedia/commons/' + products.image'" class="mr-2" style="width: 20px;">{{products.image}}
               </td>
               <td>{{ products.name }}</td>
               <td>{{ products.code }}</td>
               <td>{{ products.Description }}</td>
              
         
              
            
           </tr>
       </tbody>  
   </table>
   <ngb-pagination  [collectionSize]= "collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" [pageSize]="pageSize" class="d-flex justify-content-center">

   </ngb-pagination>
</div>